=============
Prerequisites
=============

System Requirements
-------------------

|product-name| is compatible with the following platforms: 

.. list-table::
    :widths: 25 50 25
    :header-rows: 1

    * - Platforms
      - Operating Systems
      - Processor Architectures

    * - Microsoft Windows
      - | Windows 7, 8, 10 (32/64 bits), 
        | Server 2012 (64 bits)
      - Intel Core, Xeon (x86, x64)

    * - Linux
      - GNU/Linux with Kernel version >2.6.32 (64 bits)
      - Intel Core, Xeon (x86, x64)

    * - Apple MacOS
      - MacOS Ventura
      - arm64, M1, M2

    * - Android
      - Android 5.0+ (API >= 21)
      - ARMv7 (armeabi-v7a), ARMv8 (arm64-v8a)

    * - Apple iOS
      - iOS 10.9+
      - ARMv7, ARMv7s, ARMv8

    * - NVIDIA Jetson Nano
      - JetPack 4.6
      - Jetson

    * - Raspberry Pi 4
      - Raspberry Pi OS
      - armv7l

.. _gpu_version:

Additional Requirements for GPU version
=======================================
For Windows or Linux, GPU is supported only for the x86_64 architecture only. Please be aware that not all models support GPU acceleration.

Following additional dependencies are required, please refer to NVIDIA documentation for installation procedures relative to your operating system.

For the Ubuntu 20.04 build:

- Cuda Toolkit v11.5
- Cudnn Toolkit v8.3.1 for Cuda 11.5

For the Ubuntu 18.04 build:

- Cuda Toolkit v10.2
- Cudnn Toolkit v7.6.5 for Cuda 10.2


.. _image_requirements:

Image Requirements
------------------

- BMP
- JPEG
- JPEG 2000
- PNG 
- TIFF
- WEPB 
- Raw buffer 
- YUV planes

.. important:: Images must be RGB 24 bits.

Programming Languages
---------------------

|product-name| provides API for the following programming languages:

- C
- C++
- C\#
- Dart
- Java
- Objective C
- Python
- Swift

